* {
    margin: 12px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: gray;
}

h1, h2, h3 {
    background-color: white;
    color: fuchsia;
}

p {
    background-color: yellow;
    color: orangered;
}

ol {
    background-color: aqua;
    color: blue;
}

.time {
    background-color: black;
    color: purple;
}

