* {
    margin: 15px;
    padding: 15px;
}

body {
    background-image: url('../IMG/floresta5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #adff2f;
    text-align: center;
    text-shadow: 6px 5px 5px darkgreen;
    background-size: contain;
    border: 5px solid red;
    border-radius: 20px;
    font-family: "Faster One", system-ui;
}

h2 {
    color: #ffd700;
    border: 6px inset red;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lawngreen;
    color: red;
    line-height: 200%;
    text-align: left;
    text-indent: 70px;
    line-height: 25px;
}

.text1 {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 6px 7px #adff2f;
    text-align: center;
}

.text2 {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 6px 7px #adff2f;
    text-align: center;
}

.texto1 {
    background-color: #008000;
    color: yellow;
    font-size: 20px;
}

.texto2 {
    background-color: #228b22;
    color: yellow;
    font-size: 20px;
}

img {
    margin: 10vh;
    height: 300px;
    filter: drop-shadow(10px 9px 8px #000000);
    text-align: center;
}

article {
    font-style: italic;
    text-align: right;
    color: mediumspringgreen;
}




















