body {
    background-image: url('../IMG/sonic\ vs\ shadow2.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color: white;
}

h1 {
    background-image: linear-gradient(to top, blue, red);
}

p {
    background-image: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 80%);
}

.container1 {
    height: 100vh;
    background-image: radial-gradient(circle,rgba(247, 0, 0, 1) 31%, rgba(0, 81, 255, 1) 78%);
    background-repeat: no-repeat;
    text-align: center;    
}

.container2 {
    height: 100vh;
    background-image: radial-gradient(circle,rgba(4, 0, 252, 1) 25%, rgba(0, 183, 255, 1) 69%);
    background-repeat: no-repeat;
    text-align: center; 
}

.container3 {
    height: 100vh;
    background-image: radial-gradient(circle,rgba(247, 0, 0, 1) 51%, rgba(255, 106, 0, 1) 70%);
    background-repeat: no-repeat;
    text-align: center; 
}

img {
    margin: 15vh;
    height: 500px;
    filter: drop-shadow(5px 5px 4px black);
}














